<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sysu.mapper.RoleMapper">

    <resultMap id="queryRolesByUserIdResultMap" type="role">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="keyword" property="keyword"/>
        <result column="description" property="description"/>
        <collection property="permissions" select="com.sysu.mapper.PermissionMapper.queryPermissionsByRoleId"
                    column="id"/>
    </resultMap>

    <select id="queryRolesByUserId" resultMap="queryRolesByUserIdResultMap">
         SELECT *
         FROM t_role
         WHERE id in (
            SELECT role_id
            FROM t_user_role
            WHERE	user_id = #{userId}
            );
    </select>



</mapper>